<!DOCTYPE html>
<html>
<head>
	<title>IBP Tickets Support</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<!--jQuery from Google-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!--Angular Scripts from cloudflare-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-aria.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-messages.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-touch.min.js"></script>

	<!--UI Bootstrap library-->
	<script type="text/javascript" src="angular/modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
	
	<!--utilities-->
	<script type="text/javascript" src="angular/modules/infinite-scroll-min.js"></script>
	<script type="text/javascript" src="/angular-input-modified/dist/angular-input-modified.js"></script>


	<!--Angular Modules-->
    <script src="angular/ng-app.js"></script>

	<!--Local styles-->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/tickets-board.css">

</head>
<body ng-app="TicketsSupportApp">

	<header class="container-fluid">
		<h1 class="title">Welcome to the IBP Support website</h1>
		<h3 class="description">Site is in development phase..</h3> <a href="#/submit/new-ticket">Submit new Ticket</a> or <a href="#/show/all-tickets">Show all submitions</a>
	</header>

	<div class="container-fluid">
		<div ng-view>
		<!--Views loaded here via $routeProvider in public/angular/ng-app.js-->
		</div>
	</div>

	<footer class="container-fluid text-center">
  		<p>Powered by Node.js</p>
	</footer>
</body>
</html>
