<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form role="form" class="form-horizontal" novalidate  name="submitNewTicketForm">

            <h1 class="md-title">Submit new ticket</h1>

            <div class="form-group">
                <label for="ticketType" class="col-md-4 control-label">
                    Please select one:
                </label>
                <div class="col-md-8">
                    <input type="text" id="ticketType" class="form-control" ng-model="newTicket.ticketType" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-md-4 control-label">
                    First Name:
                </label>
                <div class="col-md-8">
                    <input type="text" id="firstName" class="form-control" ng-model="newTicket.firstName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-md-4 control-label">
                    Last Name:
                </label>
                <div class="col-md-8">
                    <input type="text" id="lastName" class="form-control" ng-model="newTicket.lastName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 control-label">
                    Your e-mail:
                </label>
                <div class="col-md-8">
                    <input type="email" id="email" class="form-control" ng-model="newTicket.email" value="example@mail.com"/>
                </div>
            </div>
            <div class="form-group">
                <label for="question" class="col-md-4 control-label">
                    Please describe your question:
                </label>
                <div class="col-md-8">
                    <textarea rows="3" id="question" class="form-control" ng-model="newTicket.question"/>
                </div>
            </div>
            <!--<div class="form-group">
                <label for="file" class="col-sm-2 control-label">
                    Please attach evidence or supplement material:
                </label>
                <div class="col-sm-10">
                    <button type="button" id="file" class="btn btn-default" file-model="newTicket.file">Browse</button>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" ng-click="submitForm()" value="Submit">Submit</button>
                    <span class="reset" ng-click="resetForm()">Reset fields</span>
                </div>
            </div>

        </form>
    </div>
</div>