<div class="submit-section">
    <div class="container">	

        <form class="submit-form" novalidate  name="submitNewTicketForm">
        <h2 class="form-title"> Submit your ticket </h2>
        <div>
            <label for="ticketType">Please select the type of application:</label>
            <input type="text" id="ticketType" ng-model="newTicket.ticketType"/>
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" ng-model="newTicket.firstName"/>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" ng-model="newTicket.lastName"/>
        </div>
        <div>
            <label for="email">Your e-mail:</label>
            <input type="email" id="email" ng-model="newTicket.email" value="example@mail.com"/>
        </div>
        <div>
            <label for="question">Please describe your question:</label>
            <textarea id="question" ng-model="newTicket.question"></textarea>
        </div>
        <div>
            <label for="file">Please attach evidence or supplement material:</label>
            <input type="file" id="file" file-model="newTicket.file"/>
        </div>
        <div>
            <input type="button" ng-click="submitForm()" value="Submit"/>
        </div>
        <div>
            <p class="reset" ng-click="resetForm()">Reset</p>
        </div>
        <div>
            <input type="button" ng-click="testServer()" value="Test server"/>
        </div>
        </form>
	</div>
</div>