<!--Loads all tickets in separate panels-->

<div class="container" infinite-scroll='loadMore()' infinite-scroll-distance='2'>

    <h2>Submited Tickets</h2>
    <!--<h4>Scoll down to load more</h4>-->
    <uib-accordion>
        <!--panels group -->
        <div class="panel-group" ng-repeat="ticket in allTickets">
            <!--Ticket meta part-->
            <uib-accordion-group heading="Meta info from database (click to expand)">
            Document ID: {{ticket._id}} <br>
            Document rev: {{ticket._rev}} <br>
            Document name: {{ticket.name}} <br>
            Attachments: {{ticket.attachments}} <br>
            </uib-accordion-group>
            <!--Ticket middle part-->
            <uib-accordion-group>
                <uib-accordion-heading>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5 class="id">ID: {{ ticket.data.id }}</h5>
                            <h5 class="status-orange">NEW</h5>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="question-box"> Question: {{ ticket.data.question }} </h3> <span class="badge left-side">2 answers</span>
                        </div>
                        <div class="col-sm-2">
                            Last update: --not implemented yet--
                        </div>
                    </div>
                </uib-accordion-heading>  
                <div class="answer-container">
                    <div class="sub-answer" ng-show='answState[$index]'>
                            <p> <span>Answer:</span> {{ ticket.data.answer.text }}</p>
                        </div>
                    <form name="ticketAnswer">
                        <div class="form-group">
                            <label for="answer">Respond with answer:</label>
                            <textarea
                                id="answer" 
                                name="answer"
                                class="form-control" 
                                ng-model="ticket.data.answer.newText"
                                required
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <input
                                type="button"
                                ng-click="submitAnswer($index, ticket.data.answer.newText)"
                                value="Submit answer"/>
                        </div>
                    </form>
                </div>
            </uib-accordion-group>
            <!--Ticket footer part-->
            <div class="panel panel-footer">
                <div class="row">
                    <div class="col-sm-2">
                        Category (type): {{ ticket.data.ticketType }}
                    </div>
                    <div class="col-sm-4">
                        Raised by: {{ ticket.data.firstName }} {{ ticket.data.lastName }}
                    </div>
                    <div class="col-sm-4">
                        Assigned to: --not implemented yet--
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success"> Move to Q&A </button>
                    </div>
                </div>
            </div>
        </div><!--end panel-group container-->
    </uib-accordion>
</div>